body {
  width: 100vw;
  height: 100vh;
  display: flex;
}
.rost {
  width: 60vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.chap {
  border-left: 1px solid black;
  width: 40vw;
  height: 100vh;
}
.logo {
  background-image: url(./insta.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 8vw;
  height: 15vh;
  margin: 20px;
}
.pastangirasm {
  background-image: url(./123.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 40vw;
  height: 60vh;
}
.pastash {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 90vh;
}
.chap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.chap div {
  background-color: white;
  width: 80%;
  height: 20%;
  margin: 2%;
  border-radius: 50px;
  border: 1px solid rgb(230, 230, 230);
}
.joy {
  height: 40%;
  width: 100%;
}
.yozuv {
  text-align: center;
  font-size: 3vh;
  color: blueviolet;
}
.btn1 input {
  width: 100%;
  height: 100%;
  border-radius: 50px;
}
.btn1 input::placeholder {
  text-align: center;
  font-size: x-large;
}
